.outer-box {
 width: 900px;
 height: 500px;
 background-color: burlywood;
}

.box1 {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    float: left;
}

.box2 {
    width: 100px;
    height: 50px;
    background-color: darkolivegreen;
    float: left;

}

.box3 {
    width: 100px;
    height: 50px;
    background-color: cornsilk;
    float: left;
}

.box4 {
    width: 100px;
    height: 50px;
    background-color: cyan;
    float: left;
}