* {
  box-sizing: border-box;
}

.split-box {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}
.main {
 padding-left: 25%;
 padding-top: 7em;
 padding-bottom: 8em;
 padding-right: 25%;
}


.left {
    background-color: white;
}
.right {
    background-color: yellow;
}
div.split-box:nth-child(2) > img:nth-child(1) {
 height: 25em;
 /*! width: fit-content; */
}

.top {
 letter-spacing: 0.02em;
 font: message-box;
 font-size: 143%;
 font-weight: 900;
}

.detail {
 padding-top: 30%;
 color: yellow;
 font-weight: 900;
}

.name {
 font-weight: 900;
 font-size: 220%;
 margin-top: 7%;
}

.mam {
 background-color: yellow;
 color: white;
 font-size: 78%;
 font-weight: 900;
 letter-spacing: -0.025em;
 width: 48%;
 border: 0px;
 box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
 height: 32px;
}

.hm {
 box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
 font-weight: 900;
 font-size: 77%;
 border: 0px;
 padding-top: 2%;
 padding-bottom: 2%;
 height: 32px;
 margin-left: 3%;
 padding-left: 3%;
 padding-right: 3%;
}

.footer {
 padding-top: 10%;
 font-weight: 100;
 letter-spacing: -0.061em;
 font-size: 66%;
 margin-top: 15%;
}
